:root {
    --borderInput: 1px solid #a3a3a3;
}

/**
 * Inputs
 */
input {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;

    border: var(--borderInput);
}

.modulbox .infoBoxContent input[type="text"],
.modulbox .infoBoxContent input[type="number"],
.modulbox .infoBoxContent input[type="date"] {
    width: 100%;
    padding: 6px 4px;

    box-sizing: border-box;

    color: #000;
    background-color: #fafafa;
    border-color: #c6c6c6 #dadada #eaeaea;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

.modulbox .infoBoxContent input[type="text"],
.modulbox .infoBoxContent input[type="number"],
.modulbox .infoBoxContent input[type="date"],
.modulbox .infoBoxContent select,
.modulbox .infoBoxContent textarea {
    width: 100%;
}

.modulbox .infoBoxContent select {
    padding: 6px 4px;
}

.modulbox .infoBoxContent textarea {
    height: 12em;

    resize: vertical;
}
.modulbox .infoBoxContent textarea[readonly] {
    user-select: none;
    cursor: wait;

    color: #929292;
    background-color: #f0f0f0;
}

/**
 * Button
 */
button {
    --size: 29px;

    width: var(--size);
    height: var(--size);

    border: none;
    border-radius: 2px;
    background-color: #dbdbdb;
}
button:hover {
    background-color: #e2e2e2;
}
button:active {
    background-color: #e9e9e9;
}

button > img {
    width: 1em;
    vertical-align: middle;
}

/**
 * Tabs
 */
details {
    transition:
        0.2s ease border-color,
        0.2s ease background-color;

    position: relative;

    margin-top: 0.6em;

    border: var(--borderInput);
}
details[open] {
    background-color: transparent;
}

/** Summary */
details > summary {
    transition: 0.2s ease color;

    display: flex;
    gap: 0.4em;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 10px;

    list-style: none;
    font-size: 1em;
    font-weight: bolder;

    cursor: pointer;
    user-select: none;
    background-color: #dbdbdb;
}
details > summary::marker {
    display: none;
}
details > summary::after {
    transition: 0.2s ease transform;

    width: 18px;
    height: 18px;
    content: '';

    text-align: center;
    background-image: url('../../images/arrow_right.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
details[open] > summary {
    border-bottom: var(--borderInput);

    color: #363636;
    background-color: #e5e3e3;
}
details[open] > summary::after {
    transform: rotate(90deg);
}

/** Heading */
details > summary > :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;

    line-height: inherit;
    font-size: inherit;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
details[open] > summary > :is(h1, h2, h3, h4, h5, h6) {
    white-space: normal;
}
details > summary > h1 {
    font-size: 1.12em;
}
details > summary > h2 {
    font-size: 1.10em;
}
details > summary > h3 {
    font-size: 1.08em;
}
details > summary > h4 {
    font-size: 1.06em;
}
details > summary > h5 {
    font-size: 1.04em;
}
details > summary > h6 {
    font-size: 1.02em;
}

/** Content */
details > div {
    padding: 10px;
}

details > div > :first-child {
    margin-top: 0;
}

details > div > :last-child {
    margin-bottom: 0;
}
